@font-face {
    font-family: OstrichSans-Black;
    src: url('./shares/fonts/OstrichSans-Black.otf');
}

html,
body {
    height: 100%;
    overflow: hidden;
}

body {
    background: #303030;
    opacity: 0;
    transition: opacity 500ms;
}

* {
    box-sizing: border-box;
}

img {
    width: 100%;
}

object {
    pointer-events: visible;
    width: 100%;
    height: 100%;
    max-height: 100%;
}


svg {
    width: 100%;
    height: 100%;
    max-height: 100%;
    /* pointer-events: none; */
}

.aside {
    padding: 5px;
    color: white;
    height: 400px;
    width: 10%;
    position: absolute;


    display: flex;
    align-items: center;
    justify-content: center;
    background: #303030;
    /* flex-direction: column; */
    
}

.slider-container {
    position: relative;
    width: 20px;
    height: 300px;
}



.slider-container .slider {
    position: absolute;
    z-index: 3;
    left: 50%;
    top: 50%;
    -webkit-appearance: none;
    margin: 0;
    width: 300px;
    height: 20px;
    outline: none;
    transform: rotate(-270deg) translate(-50%,-50%);
    transform-origin: 0 0;
    /* background-color: rgba(0, 0, 0, .1); */
    background-color: transparent;
}

.slider-container .slider::-webkit-slider-thumb{
    -webkit-appearance: none;
    width: 30px;
    height: 30px;
    border: 8px solid #3e3e3e;
    border-radius: 15px;
    background-color: #ffe53b;
    box-shadow: 0 0 5px rgba(0, 0, 0, .5);
    cursor: pointer;
    transition: .3s ease-in-out;
}


.slider-container .slider::-webkit-slider-thumb:hover{
    border-color: #eeeeee;
}

.slider-container .slider::-webkit-slider-thumb:active{
    box-shadow: 0 0 0 15px rgba(255,255,255, 0.1);
}

.rulers {
    position: absolute;
    right: 0%;
    top: 0;
    bottom: 0;
    width: 100%;
    background-color:rgba(0,0,0,.2);
}

.rulersNum {
    color: #686868;
    font-weight: bold;
    position: absolute;
    right: -330%;
    top: 0;
    bottom: 0;
    width: 300%;
    /* background-color:rgba(0,0,0,.2);  */
}

.rulersNum > div {
    position: absolute;
}

.rulersNum > div::before {
    content: "- ";
}

#_58 {
    top: 20px;
}

#_47 {
    top: 93px;
}

#_37 {
    top: 155px
}

#_27 {
    margin-top: 220px;
}

#_22 {
    bottom: 0;
}



/* .rulers::before {
    content: "";
    position: absolute;
    left: 0; right:0; top: 0; bottom: 0;
    background:linear-gradient(to top, #686868 1px, transparent 2px);
    background-size: 100% 20%;
} */

.rulers::after {
    content: "";
    position: absolute;
    right: 0; left:0; top: 0; bottom: 0;
    background:linear-gradient(to top, #686868 1px, transparent 2px);
    background-size: 100% 2%;
}

